@import url(https://api.fontshare.com/css?f[]=chillax@1&f[]=plein@1,2&display=swap);

body {
	font-family: 'Plein', sans-serif;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4,
.nav-item.fs-4 {
	font-family: 'Chillax';
}

main {
	scroll-behavior: smooth;
}

.color-buas {
	color: #ee7622;
}

.color-blue {
	color: #13426b;
}

.bg-gray {
	background-color: #eeeff0;
}

.bg-lightblue {
	background-color:  #e2f4fb;
}

.bg-lightorange {
	background-color: #fdf1e9;
}

.bg-buas {
	background-color: #ee7622;
}

.section-header {
	background-color:  #13426B;
	border-top: 1.5em solid #ee7622;
}

.bg-hero {
	background-image: url(../images/common/hero-bg.jpg);
	background-size: cover;
	background-position: center;
}

.list-alpha {
	list-style-type: lower-alpha;
}

.funky-text {
    color: #8020cc;
    text-align: center;
    font-style: italic;
    text-decoration: underline #ffcc00;
}

.owncss-div {
	background-image: url(../images/common/hero-bg.jpg);
    background-position: center;
    border: .5em double #80ff80;
    border-radius: 1em;
}

.owncss-heading {
	font-family: 'Chillax';
	writing-mode: vertical-lr;
	transform: rotate(180deg);
}

.owncss-paragraph {
	font-family: 'Plein';
	color:  #ff80c0;
	text-shadow: 0 0 5px #ff80c0;
}